.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  margin-bottom: 0px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h1 {
  width: 100%;
  height: auto;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0px;
  position: relative;
  min-width: 0;
}
.httpRestApiFetcher__x8C9:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__nKxsG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 67px;
}
.text__vnb4Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 219px;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 25px;
  width: 63px;
  flex-shrink: 0;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jaRdS {
  position: relative;
  height: 1em;
}
.text___0Y5Il {
  white-space: pre;
}
.svg__l2Mhq {
  position: relative;
  height: 1em;
}
.httpRestApiFetcher__yJr2G:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__ecwHa {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__fdMX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fyVFa {
  position: relative;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  width: var(--token-RvDQa8TrNmUD);
  text-align: center;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  flex-shrink: 0;
}
.text__y4FvC {
  position: relative;
  width: var(--token-arAYD-EdPQoJ);
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-shrink: 0;
}
.text__uRrS1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
